/* CMS-Specific Styling */
div.multirecord > div.middleColumn {
	margin-left: 0;
}

div.multirecordfield-classname {
	/* Remove CMS style */
	margin: 0;
	border-bottom: 0;
	box-shadow: none;
}

.multirecordfield-classname .middleColumn {
	/* Remove CMS style */
	margin-left: 0;
}

.multirecordfield-actions .chzn-container {
	/* Vertically center chosen <select> to align with InlineAddButton */
	margin-top: -2px;
}